<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <h1>Employee List Table</h1>

        <ul *ngFor = "let employee of employeeList; let i = index">
            <li>
                <div>
                    <label>Name : </label>
                    <span> {{employee.name}}</span>
                </div>
                <div>
                    <label>Id : </label>
                    <span> {{employee.id}}</span>
                </div>
                <div>
                    <label>Age : </label>
                    <span> {{employee.age}}</span>
                </div>
                <div>
                    <label> Date of Birth : </label>
                    <span> {{employee.dob}}</span>
                </div>
                <div>
                    <button (click) = "deleteItem(i)" style="margin-right: 16px" class="btn"><i class="fa fa-trash"></i> Delete</button>
                    <button (click) = "redirectToEdit(i)" class="btn" style="margin-right: 16px"><i class="fa fa-edit"></i> Edit</button>
                </div>

            </li>
        </ul>
    </body>
</html>
